<form>
  <div class="row col-lg-6">
    <input class="form-control" type="text" 
        [formControl]="name" [(ngModel)]="pokemon.name">
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="onSubmit()">Enviar</button>
  </div>
</form>
