<p (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
  [style.background-color] = "isMouseOver == true ? 'yellow' : 'white'  "
  [class.aumentarFonte] = "isMouseOver == true"
>
aumentarFonte
  segundo works mesmo!
  <a href="http://uol.com.br">{{ nomeCurso }}</a>  
</p>

<p (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'aumentarFonte' : isMouseOver == true    
  }"  
  [ngStyle]="{
    'background-color' : isMouseOver == true ? 'yellow' : 'white'
  }"
>
aumentarFonte
  segundo works mesmo!
  <a href="http://uol.com.br">{{ nomeCurso }}</a>  
</p>


<input type="text" value="{{ nomeCurso }}">

<input type="text" [value]="nomeCurso">

<input type="text" (keyup.enter)=
  "clickInput($event.target.value)" >

<input type="text" (keyup.enter)=
  "clickInput(entrada.value)" #entrada>

<input class="form-control" type="text" [(ngModel)]="nomeCurso">

<select class="custom-select" 
  (change)="getAlerta(alerta.value)" #alerta>
  <option selected>Escolher...</option>
  <option value="alert-success">Sucesso</option>
  <option value="alert-danger">Danger</option>  
</select>

<div class="alert {{alerta.value}}">Um Texto</div>

<div class="alert" 
  [class.alert-success]="alerta.value == 'alert-success'" 
>Sucesso</div>

<div class="alert" 
  [class.alert-danger]="alerta.value == 'alert-danger'" 
  [style.display] = 
    "alerta.value == 'alert-danger' ? 'block' : 'none'"
>Erro</div>
