<!-- <p fundoAmarelo>Um parágrafo!!!!</p> -->

<!-- <input #inputXSS (keyup.enter)="onTypeXSS(inputXSS.value)" type="text"> -->

<!-- {{xss}} -->

<!-- <ul>
  <li *ngFor="let aluno of alunos">
    {{aluno}} 
  </li>
</ul> -->

<!-- {{ pokemons | json }} -->
<!-- <p>
  {{ 'AAAAAAA' | lowercase | uppercase }}
</p>
<p>
  {{ data | date : 'dd/MM/yyyy' }}
</p>
<p>
  {{ data | date : 'fullDate' }}
</p>
<p>
  {{ 'ABCDEFGH' | reverse }}
</p> -->

<!-- <p>
  <input type="text" class="form-group" [(ngModel)]="busca" />
  {{ alunos | filterAluno : busca  }}
</p> -->


<app-botao-aluno mensagem="textinho!!" #componenteBotaoAluno> 
  <div botao>
      Valor do botão!
  </div>
  <div acao>
    <a href="#">This is a link</a>
    <a href="#">This is a link</a>
  </div>
  <div titulo>
      titulo do card
  </div>
  <div corpo>
      <p>teste de card</p>
  </div>
</app-botao-aluno>
<p></p>
<app-ciclo></app-ciclo>
<app-aluno-form></app-aluno-form>

<table class="table">
  <tr>
    <th>Nome</th>
    <th>URL</th>  
    <th>Ações</th>    
    <th>Info</th>    
  </tr>
  <tr *ngFor="let p of pokemons">
    <td>{{p.name}}</td>
    <td>{{p.url}}</td>    
    <td> <a [href]="p.url" target="blank">Acessar</a> </td>
    <td> <a href="#" (click)="onClickInfo(p)">Info</a> </td>
  </tr>
</table> 

<app-aluno-detalhe [pokemonsDetalhes]="pokemonSelecionado"
  (novoPokemon)="onNovoPokemonPai($event)"
></app-aluno-detalhe>

