<p>
  template-driven works!
</p>

<form #meuForm="ngForm" (submit)="onSubmit(meuForm)" >
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" name="email" 
     #email="ngModel" required email minlength="3"
     [(ngModel)]="emailBiding"
     id="exampleInputEmail1" aria-describedby="emailHelp" 
      placeholder="Enter email">    

     
  </div>

  <app-debug-campo [meucampo]="email" ></app-debug-campo>

  <app-mostrar-erro 
    mensagemErro="Campo obrigatório"
    [isMostrarErroFilho]="isMostrarErroPai(email)" 
    ></app-mostrar-erro>
  
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" #senha="ngModel" name="senha" [(ngModel)]="senhaBiding" required
      class="form-control" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>

  <app-debug-campo [meucampo]="senha" ></app-debug-campo>

  <app-mostrar-erro 
    mensagemErro="Campo obrigatório"
    [isMostrarErroFilho]="isMostrarErroPai(senha)" 
    ></app-mostrar-erro>

  <button [disabled]="!meuForm.valid" type="submit" class="btn btn-primary">Submit</button>

</form>

<div>
  <p>Form</p>
  <p>Valid : {{ meuForm.valid | json }}</p>      
  <p>Value : {{ meuForm.value | json }}</p>
</div>