<form [formGroup]="meuform" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">    
  </div>

  <app-debug-campo [meucampo]="getControl('email')" ></app-debug-campo>

  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" formControlName="senha" class="form-control" placeholder="Password">
  </div>

  <app-debug-campo [meucampo]="getControl('senha')" ></app-debug-campo>

  
  <button [disabled]="!meuform.valid" type="submit" class="btn btn-primary">Submit</button>
</form>