<div *ngIf="pokemonsDetalhes">

  <p>
    Detalhes:
  </p>
  <div class="card">
    name : {{pokemonsDetalhes?.name}}
  </div>

</div>

<form>
  
</form>

<button class="btn btn-primary" (click)="voltarHome()"  >Voltar Home</button>

<button (click)="onNovoPokemon()" 
class="btn btn-primary"
>Novo Pokemon</button>
