<div>
    <p>Valid : {{ meucampo.valid | json }}</p>
    <p>Touched : {{ meucampo.touched | json }}</p>
    <p>Pristine : {{ meucampo.pristine | json }}</p>
    <p>Dirty : {{ meucampo.dirty | json }}</p>
    <p>Error : {{ meucampo.errors | json }}</p>
    <p>Value : {{ meucampo.value | json }}</p>
</div>
