<p>
  professor-form works!
</p>

<form [formGroup]="frmProfessor" (submit)="onSubmit()">
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" formControlName="email" placeholder="Enter email">    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nome</label>
    <input type="text" class="form-control" formControlName="nome"  placeholder="Nome">
  </div>  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
