<button #botaoLegal class="btn btn-primary" (click)="mostrarMensagem()">
  <ng-content select="[botao]"></ng-content>
</button>

<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">
          <ng-content select="[titulo]"></ng-content>
        </span>
          <ng-content select="[corpo]"></ng-content>
      </div>
      <div class="card-action">
          <ng-content select="[acao]"></ng-content>
      </div>
    </div>
  </div>
</div>