<style>
    .brand-logo{
        padding-left: 15px;
    }
    #nav-mobile{
        padding-right: 10px;
    }
</style>

<nav *ngIf="mostrarMenu">
  <div class="nav-wrapper">
    <a routerLink="" class="brand-logo">Angular</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"><a routerLink="">Home</a></li>
      <li routerLinkActive="active"><a routerLink="alunos">Alunos</a></li>
      <li routerLinkActive="active"><a routerLink="forms/template-driven">Template</a></li>
      <li routerLinkActive="active"><a routerLink="forms/data-driven">Data</a></li>
      <li routerLinkActive="active"><a routerLink="professores">Professor</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>