<table>
  <thead>
    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let p of professores">
      <td>{{  p.idprofessor  }}</td>
      <td>{{ p.nome  }} </td>
      <td>{{ p.email  }} </td>
      <td> 
        <a [routerLink]="['/professores', p.idprofessor]" >Editar</a> 
        <a href="professores" (click)="deleteProfessor(p.idprofessor)" >Deletar</a> 
      </td>
    </tr>
    
    
  </tbody>
</table>

