<p>
  home works!
</p>

<button (click)="login()" class="btn btn-success"> 
  Login 
</button>

<button (click)="logout()" class="btn btn-danger"> 
  Logout 
</button>

<input type="text" [(ngModel)]="idAluno" />

<button  class="btn btn-primary" [routerLink]="['alunos',idAluno]">
  Ver detalhe aluno
</button>

